# venvs
venv/
.venv/
env/

# python cache
__pycache__/
*.py[cod]
*.egg-info/

# tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# notebooks
.ipynb_checkpoints/

# OS
.DS_Store

# env files
.env
src/.env
**/.env

# env files
.env
src/.env
**/.env
*.swp
